@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
        <div class="text-center">
            <img src="img/UCOL-Logo.jpg" style="width: 60%; height: 40%">
        </div>

        <h3 style="padding-top: 35px">Private Policy of Diet Plan </h3>

        <p id="text">
            This privacy policy sets out how food uses and protects any information that you give while using Diet Plan.

            Should we ask you to provide certain information by which you can be identified when using this website, you can be assured that it will only be used in accordance with this privacy statement.

            Diet Plan may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.
        </p>

        <h3 style="padding-top: 35px">Information Collection and Use </h3>

        <p id="text">
            We may collect personal information from you such as your name or email address. In addition, you are able to create a user profile, which allows you to create a username and password. We will store the username, but your password will not be visible in our records.
        </p>

        <h3 style="padding-top: 35px">Automatically-Collected Information </h3>

        <p id="text">
            We automatically collect certain information about you and the device with which you access the Website. For example, when you use the Website, we will log your IP address, operating system type, browser type, referring website, pages you viewed, and the dates/times when you accessed the Website. We may also collect information about actions you take when using the Website, such as links clicked.
        </p>

        <h3 style="padding-top: 35px">Security </h3>

        <p id="text">We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

        <h3 style="padding-top: 35px">Use Cookies </h3>

        <p id="text">
            A “cookie” is a piece of data stored on the user’s hard drive containing information about the user. Usage of a cookie is in no way linked to any personally identifiable information while on our Website. Once the user closes their browser, the cookie simply terminates. For instance, by setting a cookie on our Website, the user would not have to log in with a password more than once, thereby saving time while on our Website as well as having the ability to take advantage of all of the features of our Website. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on our Website. COMMERCE QUALITY FOODS will only use this type of data in an aggregate form which does not identify you personally.
        </p>

        <h3 style="padding-top: 35px">Contact Information </h3>

        <p>
            At any time, please contact us at enquiries@ucol.ac.nz for questions related to this Privacy Policy.
        </p>

   </div>