@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div id="container-new" class="settings-container-new">
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        You can export your intake data on the
        <a asp-page="/ExportIntakes" class="text-primary">export page</a>.
    </p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered. This includes any information you have entered regarding food intake.</strong>
    </p>
    <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
        <button class="btn btn-primary" type="submit">Download Personal Data</button>
    </form>
    <p>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
    </p>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
