@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    ViewData["ShowNav"] = false;
}

<p>You have successfully logged out of the application. 
    <a asp-page="/Index" class="text-primary">Go Home</a>
    </p>
